<%= form_with(model:@todo, local:true) do |f| %>
  <div class="row form-group">
    <div class="col-md-2 col-form-label">
      <%= f.label :description %>
    </div>
    <div class="col-md-8">
      <%= f.text_field :description, class: 'form-control' %>
    </div>
    <div class="col-md-2">
      <%= f.submit 'Submit!', class: 'btn btn-primary' %>
    </div>
  </div>
<% end %>
