<h1>Index</h1>

<% if notice.present? %>
  <div class="notice">
    <p><%= notice %></p>
  </div>
<% end %>

<%= link_to 'New To Do', new_todo_path %>

<ul class="list-group">
  <% @todos.each do |todo| %>
    <li class="list-group-item">
      <%= todo.description %>
    </li>
  <% end %>
</ul>